.logo {
  width: 80px;
  margin-left: 20px;
}
.navbar ul li a {
  color: var(--main-black-color);
  letter-spacing: 0.2px;
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.3s;
  text-transform: capitalize;
  text-align: center;
}

.navbar ul li a:hover {
  color: gold !important;
}
/* hover master  */
.hvr-underline-from-center:before {
  background: white;
  height: 2px !important;
}
.navbar {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  transition: 0.6s;
  padding: 0px 10px;
}
nav.sticky {
  padding: 1px 10px;
  background-color: #fff;
  box-shadow: gray 4px 0px 15px;
}
nav.sticky ul li a {
  color: var(--main-black-color);
}

nav.sticky .hvr-underline-from-center:before {
  background: var(--main-black-color);
  height: 3px;
}

@media screen and (max-width: 770px) {
  .nav-item {
    border-bottom: 1px solid gray;
  }
  .navbar-collapse {
    border: 1px solid lightgray;
    background: rgba(255, 255, 255, 0.336);
  }
  .login__btn {
    margin-top: 10px;
  }
}
