.logo {
  width: 100px;
  margin: 0 20px;
  padding: 0;
}
.navbar ul li a {
  color: var(--main-white-color);
  letter-spacing: 0.2px;
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.3s;
  text-transform: capitalize;
  text-align: center;
}

.navbar ul li a:hover {
  color: gold !important;
}
/* hover master  */
.hvr-underline-from-center:before {
  background: white;
  height: 2px !important;
}
.navbar {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  transition: 0.6s;
  padding: 0px 10px;
}
nav.sticky {
  padding: 1px 10px;
<<<<<<< HEAD
  background-color: #eaebed;
=======
  background-color: #EAEBED;
>>>>>>> 1fe4e0386e7914719b7420f41728b9a75e6c4291
  /* background: #4ca1af;
  background: -webkit-linear-gradient(to right, #c4e0e5, #4ca1af);
  background: linear-gradient(to right, #c4e0e5, #4ca1af);
  box-shadow: gray 4px 0px 15px; */
}
nav.sticky ul li a {
  color: var(--main-black-color);
}

nav.sticky .hvr-underline-from-center:before {
  background: var(--main-black-color);
  height: 3px;
}
<<<<<<< HEAD
=======

>>>>>>> 1fe4e0386e7914719b7420f41728b9a75e6c4291
/*-------------------------------------------------------------------8. Navigations-------------------------------------------------------------------*/
/*-------------------- Navigation classic ---------------------*/
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 16rem;
  padding: 12px;
  margin: 19px 0px;
  font-size: 1rem;
  color: #d0d1da;
  text-align: left;
  list-style: none;
  background-color: gray;
  background-clip: padding-box;
  border: none;
  border-radius: none;
  -webkit-box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.09);
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: 15px 15px;
  clear: both;
  font-weight: 400;
  color: #181825;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  font-size: 15px;
  line-height: 15px;
}
@media (min-width: 992px) {
  .dropdown .dropdown-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
}
.dropdown:hover > .dropdown-menu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  opacity: 1;
  visibility: visible;
}
<<<<<<< HEAD
=======
@media(min-width:992px) {
	.dropdown .dropdown-menu {
		display: block;
		visibility: hidden;
		opacity: 0;
		-webkit-transform: translateY(20px);
		-ms-transform: translateY(20px);
		transform: translateY(20px);
		-webkit-transition: all .3s ease-in;
		-o-transition: all .3s ease-in;
		transition: all .3s ease-in 
}}
	.dropdown:hover>.dropdown-menu {
		visibility: visible;
		opacity: 1;
		-webkit-transform: scaleY(1);
		-ms-transform: scaleY(1);
		transform: scaleY(1);
		opacity: 1;
		visibility: visible;
	}
	
>>>>>>> 1fe4e0386e7914719b7420f41728b9a75e6c4291
@media screen and (max-width: 770px) {
  .nav-item {
    border-bottom: 1px solid gray;
  }
  .navbar-collapse {
    border: 1px solid lightgray;
    background: rgba(255, 255, 255, 0.336);
  }
  .login__btn {
    margin-top: 10px;
  }
}
