:root {
  --main-color: #ffcc05;
  --secodry-color: #303030;
  --main-white-color: #fff;
  --main-black-color: #000;
  --footer-color: #000;
  --footer-titels: #eee;
  --nav-links: rgb(46, 46, 46);
  --about-content: #c0a8a4;
  --blogs-header: #b13333;
}
