.aboutus {
  margin-top: 10rem;
}
.about-imgs {
  display: flex;
}
.about-imgs img {
  width: 100%;
}

.inner-text p {
  color: gray;
  font-weight: normal;
}
.about-btn {
  background: var(--main-color);
  color: var(--main-white-color);
  border-radius: 25px;
}
.about-btn:hover {
  color: var(--main-black-color);
}
