.aboutus {
  margin-top: 8rem;
 
}
.aboutus-titile {
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutus-titile h2 {
  font-size: 3rem;
  letter-spacing: 0.3rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  color: var(--main-color);
}
.about-imgs {
  display: flex;
  margin-top: 1.2rem;
}
.about-imgs img {
  width: 100%;
}

.inner-text p {
  color: gray;
  font-weight: normal;
}
.about-btn {
  background: var(--main-color);
  color: var(--main-white-color);
  border-radius: 25px;
}
.about-btn:hover {
  color: var(--main-black-color);
}
.about-card {
  background-size: cover;
  background-position: center;
  transition: all 0.8s;
  min-height: 20vh;
}
.about-card:nth-child(1) {
  background-image: url(../../IMGS/hotel.jpg);
}
.about-card:nth-child(2) {
  background-image: url(../../IMGS/joshua-earle--87JyMb9ZfU-unsplash.jpg);
}
.about-card:nth-child(3) {
  background-image: url(../../IMGS/maldivs1.jpg);
}
.about-card:hover {
  transform: translatey(-16px);
}

.close-btn {
  width: 100px;
  height: 50px;
  display: block;
  margin: 50px auto;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--main-color);
}

.video-popup {
  display: none;
  width: 100%;
  height: 100vh;
  margin: auto;
  position: fixed;
  top: 0;
  boxshadow: 10px 10px 10px 10px black;
}
.popup-bg {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
  position: absolute;
}
.popup-content {
  background: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: auto;
}
.popup-title {
  padding: 30px;
  margin: 0 auto;
  color: red;
  text-transform: uppercase;
}
