header .cover .search__tabs {
  background-color: lightgray;
  text-align: center;
  align-items: center;
  bottom: 0;
  top: 200px;
}
header .cover .search__tabs li {
  padding: 20px;
  text-align: center;
}

.v2-ho-se-ri h5 {
  color: #fff;
  text-transform: uppercase;
  font-family: "Quicksand", sans-serif;
  font-size: 10px;
  letter-spacing: 4px;
  font-weight: 100;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}
.v2-ho-se-ri h1 {
  margin: 0px;
  color: #fff;
  font-size: 48px;
  margin-bottom: 20px;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}
.v2-ho-se-ri p {
  color: #fff;
  font-size: 16px;
  margin-bottom: 0px;
  font-weight: 100;
  font-family: "Quicksand", sans-serif;
  line-height: 30px;
}
.v2-search-form {
  position: relative;
  background: #ffffff;
  padding: 30px;
  border-radius: 5px;
  border-bottom: 2px solid #cccccc;
  box-shadow: 0px 11px 26px 0px rgba(0, 0, 0, 0.29);
}
.v2-search-form label {
  color: #727070;
  font-weight: 600;
  top: 14px;
  font-size: 14px;
  overflow: hidden;
}
.v2-search-form input {
  background: #fff;
  border: 0px;
  height: 45px;
  border-radius: 2px !important;
  padding: 0px 10px;
  box-sizing: border-box;
  font-size: 14px;
  border: 1px solid #e6e1e1 !important;
}
.v2-hom-search-background-car {
  background: no-repeat;
  background-position: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.776)),
    url(../../IMGS/Search/main/cars01.jpg);
  position: relative;
  background-size: cover;
  padding: 115px 30px 60px 30px;
}
.v2-hom-search-background-tour {
  background: no-repeat;
  background-position: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.776)),
    url(../../IMGS/Search/main/tours01.png);
  position: relative;
  background-size: cover;
  padding: 115px 30px 60px 30px;
}
.v2-hom-search-background-hotel {
  background: no-repeat;
  background-position: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.776)),
    url(../../IMGS/Search/main/hotels01.jpg);
  position: relative;
  background-size: cover;
  padding: 115px 30px 60px 30px;
 
}
.v2-ser-btn {
  text-align: center;
}
.v2-hom-ser {
  padding-top: 28px;
}
.v2-hom-ser ul {
  margin: inherit;
}
.alert-success {
  text-align: center;
  font-size: 18px;
}
.tourz-hom-ser {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 38px;
  padding-bottom: 5px;
}
.tourz-hom-ser ul {
  margin-bottom: 0px;
  margin: 0 auto;
  display: table;
  padding: 0px;
}
.tourz-hom-ser ul li {
  display: inline-block;
  text-align: center;
  padding: 0px 5px;
}
.tourz-hom-ser ul li a {
  background: #e8095a00;
  width: 100px;
  height: 90px;
  display: block;
  padding: 20px 2px 20px 2px;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  font-family: "Arimo", sans-serif;
  line-height: 24px;
  border: 1px solid #8e8e8e;
  font-size: 13px;
  text-decoration: none;
  box-sizing: border-box;
}
.tourz-hom-ser ul li a:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background: var(--main-color);
  background: linear-gradient(to bottom, var(--main-color), #e8095a00);
  border: 1px solid var(--main-color);
}
.tourz-hom-ser ul li a img {
  display: table;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 5px;
  width: 36px;
}
/* @media only screen and (max-width: 992px) {
    .input-field .prefix ~ input {
        width: 86%;
        width: calc(100% - 3rem);
    }
}
@media only screen and (max-width: 600px) {
    .input-field .prefix ~ input {
        width: 80%;
        width: calc(100% - 3rem);
    }
} */
/* Search Field */
.search__tourz {
  background-color: white;
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
}
.search__input {
  width: 100%;
  margin-top: 7px;
  display: flex;
  flex-wrap: nowrap;
}
.search__input #exampleFormControlSelect1 option {
  padding: 30px;
}
select option:checked {
  background: var(--main-color) -webkit-linear-gradient(bottom, var(
          --main-color
        )
        0%, var(--main-color) 100%);
}
.search__input select {
  background: #fff;
  outline: none;
}
.search__btn-book {
  color: white;
  background-color: var(--main-color);
  text-align: center;
}
.search__btn-book:hover {
  box-shadow: 0px 0px 8px gray;
  color: black;
}
